-- Database initialization script for Ronins Trekking Website
-- Run this script in your MySQL database

USE ronins_treks;

-- Create treks table
CREATE TABLE IF NOT EXISTS treks (
  id INT PRIMARY KEY AUTO_INCREMENT,
  name VARCHAR(255) NOT NULL,
  description TEXT,
  duration VARCHAR(100),
  trek_length DECIMAL(5,2),
  difficulty ENUM('Easy', 'Moderate', 'Challenging'),
  max_altitude INT,
  base_village VARCHAR(255),
  transport VARCHAR(255),
  meals VARCHAR(255),
  sightseeing TEXT,
  image VARCHAR(500),
  price DECIMAL(10,2) DEFAULT 1999.00,
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Create bookings table
CREATE TABLE IF NOT EXISTS bookings (
  id INT PRIMARY KEY AUTO_INCREMENT,
  trek_id INT,
  trekName VARCHAR(255),
  fullName VARCHAR(255),
  contact VARCHAR(20),
  email VARCHAR(255),
  groupSize INT DEFAULT 1,
  notes TEXT,
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  FOREIGN KEY (trek_id) REFERENCES treks(id) ON DELETE CASCADE
);

-- Create feedback table
CREATE TABLE IF NOT EXISTS feedback (
  id INT PRIMARY KEY AUTO_INCREMENT,
  feedback TEXT NOT NULL,
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Create business_queries table
CREATE TABLE IF NOT EXISTS business_queries (
  id INT PRIMARY KEY AUTO_INCREMENT,
  name VARCHAR(255) NOT NULL,
  email VARCHAR(255) NOT NULL,
  phone VARCHAR(20) NOT NULL,
  message TEXT NOT NULL,
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Create team_members table for Week Heroes functionality
CREATE TABLE IF NOT EXISTS team_members (
  id INT PRIMARY KEY AUTO_INCREMENT,
  name VARCHAR(255) NOT NULL,
  role VARCHAR(255) NOT NULL,
  image_url VARCHAR(500) NOT NULL,
  instagram_url VARCHAR(500) NOT NULL,
  display_order INT DEFAULT 0,
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
);

-- Insert sample trek data

-- Insert team members data for Week Heroes
INSERT INTO team_members (name, role, image_url, instagram_url, display_order) VALUES
('Parth', 'The Singer', 'https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?q=80&w=400', 'https://instagram.com/parth_singer', 1),
('Vijay', 'The Trek Lead', 'https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?q=80&w=400', 'https://instagram.com/vijay_trek_lead', 2),
('Ganesh', 'The Dancer', 'https://images.unsplash.com/photo-1494790108755-2616b612b786?q=80&w=400', 'https://instagram.com/ganesh_dancer', 3);

-- GPS Tracking Tables
-- Create live_treks table for tracking active GPS treks
CREATE TABLE IF NOT EXISTS live_treks (
  id INT PRIMARY KEY AUTO_INCREMENT,
  trek_id INT NOT NULL,
  driver_id VARCHAR(255), -- Changed from driver_name to match API
  google_maps_link TEXT,
  is_active BOOLEAN DEFAULT FALSE,
  active_since TIMESTAMP NULL, -- Added for API compatibility
  last_location_update TIMESTAMP NULL, -- Changed from last_location_time to match API
  status_message TEXT, -- Added for stop messages
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  FOREIGN KEY (trek_id) REFERENCES treks(id) ON DELETE CASCADE
);

-- Create trek_locations table for storing GPS coordinates history
CREATE TABLE IF NOT EXISTS trek_locations (
  id INT PRIMARY KEY AUTO_INCREMENT,
  trek_id INT NOT NULL,
  live_trek_id INT,
  latitude DECIMAL(10, 8) NOT NULL,
  longitude DECIMAL(11, 8) NOT NULL,
  accuracy DECIMAL(8, 2),
  altitude DECIMAL(8, 2),
  speed DECIMAL(8, 2),
  heading DECIMAL(8, 2),
  timestamp TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  FOREIGN KEY (trek_id) REFERENCES treks(id) ON DELETE CASCADE,
  FOREIGN KEY (live_trek_id) REFERENCES live_treks(id) ON DELETE CASCADE
);

-- Create live_trek_settings table for trek-specific settings
CREATE TABLE IF NOT EXISTS live_trek_settings (
  id INT PRIMARY KEY AUTO_INCREMENT,
  trek_id INT NOT NULL,
  tracking_password VARCHAR(255) NOT NULL, -- Trek-specific password for users
  chat_enabled BOOLEAN DEFAULT TRUE,
  chat_locked BOOLEAN DEFAULT FALSE,
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  FOREIGN KEY (trek_id) REFERENCES treks(id) ON DELETE CASCADE,
  UNIQUE KEY unique_trek_settings (trek_id)
);

-- Create gps_config table for storing global driver access password
CREATE TABLE IF NOT EXISTS gps_config (
  id INT PRIMARY KEY AUTO_INCREMENT,
  config_key VARCHAR(100) UNIQUE NOT NULL,
  config_value TEXT NOT NULL,
  description TEXT,
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
);

-- Insert default driver access password
INSERT INTO gps_config (config_key, config_value, description) 
VALUES ('driver_password', 'ronin2024', 'Default password for driver panel access')
ON DUPLICATE KEY UPDATE 
config_value = VALUES(config_value),
updated_at = CURRENT_TIMESTAMP;

-- Show created tables
SHOW TABLES;

-- Show sample data
SELECT * FROM treks;
